<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Developer ID Application</string>
	<key>teamID</key>
	<string>5BR9M56H9W</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.bojieli.tunless.Tunless</key>
		<string>Mac Team Direct Provisioning Profile: com.bojieli.tunless.Tunless</string>
		<key>com.bojieli.tunless.TunlessProxy</key>
		<string>Mac Team Direct Provisioning Profile: com.bojieli.tunless.TunlessProxy</string>
	</dict>
</dict>
</plist>
